body {
  background-color: #CDFCFF;
}

button {
  border: none;
  background-color: inherit;
}

button:hover {
  transform: scale(1.03);
}

.tags {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: absolute;
  z-index: 0;
  color: rgba(255, 255, 255, 0);
  background-color: inherit;
  appearance: none;
}
.tags img {
  height: 87px;
  cursor: pointer;
}
.tags button {
  margin: 54px 0 0 0;
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 0;
}
.tags #daily-tag {
  filter: invert(62%) sepia(45%) saturate(4630%) hue-rotate(321deg) brightness(116%) contrast(102%);
}
.tags #weekly-tag {
  filter: invert(87%) sepia(30%) saturate(1205%) hue-rotate(296deg) brightness(88%) contrast(137%);
}
.tags #monthly-tag {
  filter: invert(87%) sepia(99%) saturate(3038%) hue-rotate(290deg) brightness(103%) contrast(105%);
}
.tags #settings-tag {
  filter: invert(97%) sepia(85%) saturate(1151%) hue-rotate(290deg) brightness(121%) contrast(106%);
}

.note-book {
  font-family: "Roboto", sans-serif;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffb9c2;
  color: #603636;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.note-book .daily-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 2.5em;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin: 30px 0;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}
.note-book .daily-entry textarea {
  width: 100%;
  height: 150px;
  border: none;
  background-color: rgb(255, 255, 255);
  font-size: 23px;
  font-family: "Roboto", sans-serif;
  resize: none;
  outline: none;
  color: #603636;
  border-radius: 15px;
}
.note-book .inner-notebook {
  z-index: 1;
  min-height: inherit;
  height: 97%;
  position: relative;
  background-color: #FFF6F6;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.note-book #daily-notebook .left-site {
  width: 50%;
  height: 100%;
  float: left;
  padding: 10px 10px 10px 40px;
  box-sizing: border-box;
}
.note-book #daily-notebook .left-site .mood {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 2.5em;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin: 30px 0;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}
.note-book #daily-notebook .left-site .mood p {
  margin: 10px 0;
}
.note-book #daily-notebook .left-site .mood span {
  margin-left: 10px;
}
.note-book #daily-notebook .left-site .mood .mood_button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.note-book #daily-notebook .left-site .mood #very-good {
  background-color: #22ec22;
  border-radius: 50%;
  display: inline-block;
}
.note-book #daily-notebook .left-site .mood #good {
  background-color: #a3ff95;
  border-radius: 50%;
  display: inline-block;
}
.note-book #daily-notebook .left-site .mood #meh {
  background-color: #ffda0c;
  border-radius: 50%;
  display: inline-block;
}
.note-book #daily-notebook .left-site .mood #bad {
  background-color: #ffa056;
  border-radius: 50%;
  display: inline-block;
}
.note-book #daily-notebook .left-site .mood #very-bad {
  background-color: #ff4d4d;
  border-radius: 50%;
  display: inline-block;
}
.note-book #daily-notebook .left-site .period {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.09);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 2.5em;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin: 30px 0;
}
.note-book #daily-notebook .left-site .period #predicting {
  color: #ffacac;
  font-size: 0.8em;
}
.note-book #daily-notebook .left-site .period p {
  margin: 10px 0;
}
.note-book #daily-notebook .left-site .period span {
  margin-left: 10px;
}
.note-book #daily-notebook .left-site .period img {
  align-self: center;
  justify-self: right;
  width: 50px;
  margin-left: 10px;
  display: inline-block;
}
.note-book #daily-notebook .left-site .emotions {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  font-size: 2.5em;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin: 30px 0;
  align-items: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}
.note-book #daily-notebook .right-side {
  width: 50%;
  height: 100%;
  float: right;
  padding: 10px;
  box-sizing: border-box;
}
.note-book #daily-notebook .right-side .weather {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  font-size: 2.5em;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin: 30px 0;
  align-items: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}
.note-book #daily-notebook .right-side .sleep {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  font-size: 2.5em;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin: 30px 0;
  align-items: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}
.note-book #daily-notebook .right-side .water {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  font-size: 2.5em;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin: 30px 0;
  align-items: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}
.note-book #daily-notebook .right-side .selfcare {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 2.5em;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin: 30px 0;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}
.note-book #daily-notebook .right-side .daily-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 2.5em;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin: 30px 0;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}
.note-book #daily-notebook .emotion_button {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: none;
  margin-left: 15px;
  margin-bottom: 10px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  background-color: #ffe5e5;
  font-size: 20px;
  font-color: #603636;
}
.note-book #daily-notebook .emotion_button img {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.note-book #daily-notebook .weather_button {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: none;
  margin: 5px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  background-color: #ffe5e5;
  font-size: 20px;
  font-color: #603636;
}
.note-book #daily-notebook .emotion_button:not(.selected),
.note-book #daily-notebook .weather_button:not(.selected),
.note-book #daily-notebook .period-button:not(.selected) {
  filter: brightness(130%);
}
.note-book #daily-notebook .mood_button:not(.selected) {
  filter: brightness(150%);
}
.note-book #daily-notebook .emotion_button.selected,
.note-book #daily-notebook .weather_button.selected,
.note-book #daily-notebook .mood_button.selected,
.note-book #daily-notebook .period-button.selected {
  filter: brightness(100%);
}
.note-book #monthly-notebook body {
  background-color: #eaedf0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.note-book #monthly-notebook .container {
  display: inline-block;
  background-color: #fff;
  border-radius: 35px;
  padding: 0 1em;
  margin-top: 2em;
  width: 98%;
}
.note-book #monthly-notebook header {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.note-book #monthly-notebook .header-display {
  display: flex;
  align-items: center;
}
.note-book #monthly-notebook .header-display p {
  color: #ff78a1;
  margin: 5px;
  font-size: 1.2rem;
  word-spacing: 0.5rem;
}
.note-book #monthly-notebook pre {
  padding: 10px;
  margin: 0;
  cursor: pointer;
  font-size: 1.2rem;
  color: #ff78a1;
}
.note-book #monthly-notebook .days,
.note-book #monthly-notebook .week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: auto;
  padding: 0 20px;
  justify-content: space-between;
}
.note-book #monthly-notebook .week div,
.note-book #monthly-notebook .days div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5em;
  border-radius: 100%;
}
.note-book #monthly-notebook .days div:hover {
  background: #ebedf0;
  color: rgb(255, 84, 229);
  cursor: pointer;
}
.note-book #monthly-notebook .week div {
  opacity: 0.5;
}
.note-book #monthly-notebook .current-date {
  background-color: #ff78a1;
  color: #fff;
}
.note-book #monthly-notebook .display-selected {
  margin-bottom: 10px;
  padding: 20px 20px;
  text-align: center;
}
.note-book #monthly-notebook .other-month {
  color: #d7d7d7;
}
.note-book #monthly-notebook .mood-1 {
  background-color: #ff0000;
}
.note-book #monthly-notebook .mood-2 {
  background-color: #ff7f00;
}
.note-book #monthly-notebook .mood-3 {
  background-color: #ffff00;
}
.note-book #monthly-notebook .mood-4 {
  background-color: #7fff00;
}
.note-book #monthly-notebook .mood-5 {
  background-color: #00ff00;
}
.note-book .week_weekly-goals {
  margin-top: 20px;
  border-radius: 15px;
}
.note-book .week_weekly-goals h2 {
  font-size: 20px;
  color: #ff6b6b;
}
.note-book .week_day-log {
  margin-top: 20px;
}
.note-book .week_day {
  background-color: #ffd4d4;
  border-radius: 15px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.09);
  margin: 20px 0 20px 0;
}
.note-book .week_date {
  font-size: 20px;
  color: #fff;
  padding: 10px 10px 0 10px;
}
.note-book .week_task-list {
  margin-top: 5px;
  background-color: #fff;
  width: 100%;
  border-radius: 0 0 15px 15px;
  height: 90px;
}
.note-book .week_task-list p {
  margin: 0;
  padding: 5px;
}
.note-book #settings-notebook .options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
}
.note-book #settings-notebook .options button {
  padding: 35px;
  font-size: 20px;
  color: #603636;
}
.note-book #settings-notebook .content {
  padding: 20px;
  margin-left: 250px;
}
.note-book #settings-notebook .opt-button:hover {
  background-color: #ffd6d6;
  color: #603636;
}
.note-book .vl {
  border-left: 2px solid rgba(211, 169, 139, 0.38);
  height: 100%;
  position: absolute;
  left: 50%;
}

/*# sourceMappingURL=home.css.map */
