body {
  background-color: #cdfcff;
}
button {
  border: none;
  background-color: inherit;
}
button:hover {
  transform: scale(1.03);
}
.tags {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: absolute;
  z-index: 0;
  color: rgba(255, 255, 255, 0);
  background-color: inherit;
  appearance: none;
}
.tags img {
  height: 87px;
  cursor: pointer;
}
.tags button {
  margin: 54px 0 0 0;
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 0;
}
.tags #daily-tag {
  filter: invert(62%) sepia(45%) saturate(4630%) hue-rotate(321deg) brightness(116%) contrast(102%);
}
.tags #weekly-tag {
  filter: invert(87%) sepia(30%) saturate(1205%) hue-rotate(296deg) brightness(88%) contrast(137%);
}
.tags #monthly-tag {
  filter: invert(87%) sepia(99%) saturate(3038%) hue-rotate(290deg) brightness(103%) contrast(105%);
}
.tags #settings-tag {
  filter: invert(97%) sepia(85%) saturate(1151%) hue-rotate(290deg) brightness(121%) contrast(106%);
}
.note-book {
  font-family: 'Roboto', sans-serif;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffb9c2;
  color: #603636;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.note-book .inner-notebook {
  z-index: 1;
  min-height: inherit;
  height: 97%;
  position: relative;
  background-color: #fff6f6;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.note-book #daily-notebook .left-site {
  width: 50%;
  height: 100%;
  float: left;
  padding: 10px 10px 10px 40px;
  box-sizing: border-box;
}
.note-book #daily-notebook .left-site .mood {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 2.5em;
  background-color: #fff;
  border-radius: 10px;
  margin: 30px 0;
}
.note-book #daily-notebook .left-site .mood p {
  margin: 10px 0;
}
.note-book #daily-notebook .left-site .mood span {
  margin-left: 10px;
}
.note-book #daily-notebook .left-site .mood .mood-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.note-book #daily-notebook .left-site .mood #very-good {
  background-color: #22ec22;
  border-radius: 50%;
  display: inline-block;
}
.note-book #daily-notebook .left-site .mood #good {
  background-color: #a3ff95;
  border-radius: 50%;
  display: inline-block;
}
.note-book #daily-notebook .left-site .mood #meh {
  background-color: #ffda0c;
  border-radius: 50%;
  display: inline-block;
}
.note-book #daily-notebook .left-site .mood #bad {
  background-color: #ffa056;
  border-radius: 50%;
  display: inline-block;
}
.note-book #daily-notebook .left-site .mood #very-bad {
  background-color: #ff4d4d;
  border-radius: 50%;
  display: inline-block;
}
.note-book #daily-notebook .left-site .period {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 2.5em;
  background-color: #fff;
  border-radius: 10px;
  margin: 30px 0;
}
.note-book #daily-notebook .left-site .period #predicting {
  color: #ffacac;
  font-size: 0.8em;
}
.note-book #daily-notebook .left-site .period p {
  margin: 10px 0;
}
.note-book #daily-notebook .left-site .period span {
  margin-left: 10px;
}
.note-book #daily-notebook .left-site .period img {
  align-self: center;
  justify-self: right;
  width: 50px;
  margin-left: 10px;
  display: inline-block;
}
.note-book #daily-notebook .left-site .emotions {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  font-size: 2.5em;
  background-color: #fff;
  border-radius: 20px;
  margin: 30px 0;
  align-items: center;
}
.note-book #daily-notebook .right-side {
  width: 50%;
  height: 100%;
  float: right;
  padding: 10px;
  box-sizing: border-box;
}
.note-book #daily-notebook .right-side .weather {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  font-size: 2.5em;
  background-color: #fff;
  border-radius: 20px;
  margin: 30px 0;
  align-items: center;
}
.note-book #daily-notebook .right-side .sleep {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  font-size: 2.5em;
  background-color: #fff;
  border-radius: 10px;
  margin: 30px 0;
  align-items: center;
}
.note-book #daily-notebook .right-side .water {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  font-size: 2.5em;
  background-color: #fff;
  border-radius: 10px;
  margin: 30px 0;
  align-items: center;
}
.note-book #daily-notebook .right-side .selfcare {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 2.5em;
  background-color: #fff;
  border-radius: 10px;
  margin: 30px 0;
}
.note-book #daily-notebook .right-side .daily-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 2.5em;
  background-color: #fff;
  border-radius: 10px;
  margin: 30px 0;
}
.note-book #daily-notebook .right-side .daily-entry textarea {
  width: 100%;
  height: 300px;
  border: none;
  background-color: #fff;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  resize: none;
  outline: none;
  color: #603636;
  border-radius: 5px;
}
.note-book .emotion_button {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: none;
  margin: 5px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  background-color: #ffb6b6;
  font-size: 20px;
  font-color: #603636;
}
.note-book .weather_button {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: none;
  margin: 5px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  background-color: #ffb6b6;
  font-size: 20px;
  font-color: #603636;
}
.note-book .daily_number_input {
  width: 60px;
  height: 30px;
  font-size: 16px;
  margin-left: 10px;
}
.note-book #settings-notebook .options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
}
.note-book #settings-notebook .options button {
  padding: 35px;
  font-size: 20px;
  color: #603636;
}
.note-book #settings-notebook .content {
  padding: 20px;
  margin-left: 250px;
}
.note-book #settings-notebook .opt-button:hover {
  background-color: #ffd6d6;
  color: #603636;
}
.note-book .vl {
  border-left: 2px solid rgba(211, 169, 139, 0.38);
  height: 100%;
  position: absolute;
  left: 50%;
}
